######################
# KaBoom Configuration
######################

kaboom.id=1001
hadooop.fs.uri=hdfs://hadoop.company.com
#kaboom.weighting=<number> - the default is number of cores
kerberos.keytab=/opt/kaboom/config/kaboom.keytab
kerberos.principal=principal@AD0.COMPANY
#kaboom.hostname=<name> - the default is the system's hostname
zookeeper.connection.string=r3k1.kafka.company.com:2181,r3k2.kafka.company.com:2181,r3k3.kafka.company.com:2181/KaBoomDev
kafka.zookeeper.connection.string=r3k1.kafka.company.com:2181,r3k2.kafka.company.com:2181,r3k3.kafka.company.com:2181
#kaboom.load.balancer.type=even - this is the default
#kafka.zk.root.path= - the default is none/empty string
#kafka.zk.root.path.brokers=brokers/ids - this is the default
#kaboom.zk.root.path=/kaboom - this is the default
#kaboom.zk.root.path.topic.configs=/kaboom/topics - this is the default
#kaboom.zk.root.path.clients=/kaboom/clients - this is the default
#kaboom.zk.root.path.partition.assignments=/kaboom/assignments - this is the default
#kaboom.zk.root.path.flag.assignments=/kaboom/flag-assignments - this is the default
#kaboom.runningConfig.zkPath=/kaboom/config - this is the default
#kaboom.zk.path.leader.clientId=/kaboom/leader - this is the default

########################
# Consumer Configuration 
########################

metadata.broker.list=r3k1.kafka.company.com:9092,r3k2.kafka.company.com:9092,r3k3.kafka.company.com:9092
fetch.message.max.bytes=10485760
fetch.wait.max.ms=5000
#fetch.min.bytes=1 - this is the default
socket.receive.buffer.bytes=10485760
auto.offset.reset=smallest
#socket.timeout.seconds=30000 - this is the default